.examples {
  margin: 3rem 18vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.tabButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.tabButton:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

.active {
  background-color: #7925d3;
  color: #ebe7ef;
}

.tabContent {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.tabContent h3 {
  margin: 0;
}

.tabContent code {
  font-size: 1rem;
}
