.appContainer {
  background: radial-gradient(#280a48, #20043d);
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}
